<aside class="tactical-sidebar qgis-sidebar" [style.width.px]="vm.sidebarWidth()" [style.display]="(vm.tacticalMapService.selectedPlacedSymbol() || vm.selectedSymbol()) ? 'flex' : 'none'">

  <div class="sidebar-container" style="display: flex; flex-direction: column; flex: 1; min-height: 0; overflow: hidden;">
    <app-symbol-properties style="display: flex; flex-direction: column; flex: 1; width: 100%; min-height: 0; overflow: hidden;" />
  </div>

  <div class="qgis-horizontal-resizer" (mousedown)="onStartResize($event)" title="Потяните для изменения ширины панели"></div>
</aside>
