<div class="map-wrapper">
  
  <div #mapContainer class="map-container"></div>

  <!-- Bounding box overlay for transformation -->
  @if (transformBoxStyle()) {
    <div class="transform-box" [ngStyle]="transformBoxStyle()">
      <!-- Border outline -->
      <div class="transform-outline"></div>

      <!-- Rotate stick and handle -->
      <div class="transform-rotate-line"></div>
      <div class="transform-handle rotate" (mousedown)="onRotateStart($event)" title="Повернуть"></div>

      <!-- 4 resize corners -->
      <div class="transform-handle nw" (mousedown)="onResizeStart($event, 'nw')" title="Изменить размер"></div>
      <div class="transform-handle ne" (mousedown)="onResizeStart($event, 'ne')" title="Изменить размер"></div>
      <div class="transform-handle sw" (mousedown)="onResizeStart($event, 'sw')" title="Изменить размер"></div>
      <div class="transform-handle se" (mousedown)="onResizeStart($event, 'se')" title="Изменить размер"></div>
    </div>
  }



  @if (!vm.isAppReady()) {
    <div class="map-overlay">
      <div class="loading-panel">
        <div class="spinner"></div>
        <div class="loading-text">Загрузка тактической ГИС и векторного рельефа Topos...</div>
      </div>
    </div>
  }
</div>
