<div class="map-wrapper">
  
  <div #mapContainer class="map-container"></div>

  <div class="tooggle-map">
    <button (click)="renderMap(mapsUrls.map1.url, mapsUrls.map1.type)">
      {{mapsUrls.map1.name}}
    </button>

    <button (click)="renderMap(mapsUrls.map2.url, mapsUrls.map2.type)">
      {{mapsUrls.map2.name}}
    </button>
  </div>

  @if (!vm.isAppReady()) {
    <div class="map-overlay">
      <div class="loading-panel">
        <div class="spinner"></div>
        <div class="loading-text">Загрузка тактической ГИС и векторного рельефа Topos...</div>
      </div>
    </div>
  }
</div>
